﻿@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .section {
            background-color: deepskyblue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-top: 1px;
            display: inline-block;
        }
    </style>
</head>
<body >
    <div class="container">
        <h1>Homepage!</h1>
        <p>Hello, I am</p>
        <h2>Marc Angelo Arnaldo</h2>
        <p>I'm currently enrolled in the course:</p>
        <div class="section">Bachelor of Science in Information Technology</div>
        <br />
        <p>Section:</p>
        <div class="section">BSIT32E1</div>
    </div>
</body>
</html>